{% extends "base.html" %}

{% block action %}
    <a class="button" href="{{ url_for("mail.index")}}">Volver</a>
{% endblock %}

{% block header %}
    <h1>{% block title %} Cambiar Contraseña {% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="nuevoPassword">Nueva Contraseña</label>
            <input name="nuevoPassword" type="text" id="nuevoPassword">
        </div>
        <div class="form-group">
            <label for="confirmacionPassword">Confirmar Contraseña</label>
            <input name="confirmacionPassword" type="text" id="confirmacionPassword">
        </div>
        <div class="form-group">
            <button class="button">Guardar</button>
        </div>
    </form>
{% endblock %}
